---
import HeroSection from '../../components/HeroSection.astro';
import Layout from '../../layouts/Layout.astro';
import GallerySection from '../../components/GallerySection.astro'
---

<Layout title="Simel s.r.o.">
	<main class="w-full mb-40">
		<HeroSection 
            showButtons={false} 
        />
		<GallerySection />
	</main>
</Layout>