---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import AboutUsSection from '../components/AboutUsSection.astro';
---

<Layout title="Simel s.r.o. |Contact">
	<main class="w-full mb-40">
		<!-- <HeroSection 
		    title="Kontaktujte nás"
		    subtitle="Sme tu pre vás"
		    description="Ak máte akékoľvek otázky alebo záujem o spoluprácu, neváhajte nás kontaktovať prostredníctvom formulára alebo telefonicky."
		    showButtons={false} 
		/> -->
        <AboutUsSection>
	</main>
</Layout>
