---
import Container from "./Container.astro";
---

<div class="relative py-16 scroll-mt-40" id="aboutus" >
    <div aria-hidden="true" class="absolute inset-0 flex justify-center items-center opacity-40 dark:opacity-15">
        <div class="blur-[106px] w-256 h-128 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700 rounded-full"></div>
        <div class="blur-[106px] w-96 h-96 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600 rounded-full absolute"></div>
      </div>
  <Container>
    <div class="space-y-12">
      <div class="text-center ">
        <h2 class="text-4xl border-b-3 border-gray-700 font-bold text-primary dark:text-white md:text-5xl pb-8">
          O nás
        </h2>
      </div>

      <div class="grid gap-10 md:grid-cols-2">
        <div class="text-center m-3">
          <h3 class="text-2xl font-semibold text-primary dark:text-blue-400 text-center">
            Naša vášeň pre precíznosť
          </h3>
          <p class="mt-4 text-gray-600 dark:text-gray-300 leading-relaxed">
            Naša spoločnosť sa špecializuje na elektroinštalácie, ktoré spájajú pokročilé technológie a praktické riešenia pre domácnosti, firmy aj priemyselné objekty. Sme hrdí na naše dlhoročné skúsenosti, ktoré nám umožňujú poskytovať služby na najvyššej úrovni.
          </p>
        </div>
        <div class="text-center m-3">
          <h3 class="text-2xl font-semibold text-primary dark:text-blue-400 text-center">
            Hodnoty, na ktorých staviame
          </h3>
          <p class="mt-4 text-gray-600 dark:text-gray-300 leading-relaxed">
            Naše hodnoty zahŕňajú spoľahlivosť, dôraz na detaily a dlhodobú spokojnosť zákazníkov. Neustále sledujeme vývoj v oblasti technológií, aby sme vám mohli priniesť tie najnovšie a najefektívnejšie riešenia.
          </p>
        </div>
      </div>

      <div class="text-center border-b-3 border-gray-700 pb-9">
        <div>
        <h3 class="text-2xl font-semibold text-primary dark:text-white text-center">
          Prečo si vybrať nás?
        </h3>
      </div>
      <div>
        <p class="mt-4 text-gray-600 dark:text-gray-300 leading-relaxed">
          Či už potrebujete modernizovať elektroinštalácie vo vašej domácnosti, navrhnúť riešenia pre nový komerčný priestor, alebo zabezpečiť technickú podporu pre priemyselné zariadenia, sme tu pre vás.
          Vaša dôvera je pre nás záväzkom, ktorý nás motivuje neustále sa zlepšovať a prinášať riešenia, ktoré spĺňajú aj tie najnáročnejšie požiadavky.
        </p>
      </div>
      </div>
    </div>
  </Container>
</div>
