---
import HeroSection from '../../components/HeroSection.astro';
import Layout from '../../layouts/Layout.astro';
import AboutUsSection from '../../components/AboutUsSection.astro';
import { translations } from '../../locales.ts';

const t = translations.de;
---

<Layout title={t.seo.aboutUs.title} description={t.seo.aboutUs.description} keywords={t.seo.aboutUs.keywords}>
	<main class="w-full mb-40">
        <AboutUsSection>
	</main>
</Layout>
