---
import Stats from '../../components/Stats.astro';
import Features from '../../components/Features.astro';
import HeroSection from '../../components/HeroSection.astro';
import Layout from '../../layouts/Layout.astro';
import CallToAction from '../../components/CallToAction.astro';
import { translations } from '../../locales.ts';

const t = translations.de;
---

<Layout title={t.seo.index.title} description={t.seo.index.description} keywords={t.seo.index.keywords}>
	<main class="w-full mb-40">
		<HeroSection
		  showButtons={true}
		  customClass="h-screen"
		/>
		<Features/>
		<Stats/>
		<CallToAction/>
	</main>
</Layout>
